
.navbar .site-name::before{
    display: inline-block;
    content: "";
    width: 1.5rem;
    height: 1.2rem;
    background: url('../images/ico.png') no-repeat;
    background-size: 100% 100%;
    vertical-align: middle;
}